<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "RedMart", root_path, id: "logo" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "About",   about_path %></li>
    <li><%= link_to "Help",   helf_path %></li>
    <li><%= link_to "Log in", '#' %></li>
    <li><%= link_to "Show all Users", users_path %></li>
  </ul>
</nav>
</div>
</header>
