<p id="notice"><%= notice %></p>
<% provide(:title, "Profile") %>
<h1>Display My Profile</h1>



<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<div class="col-md-8">
  <% if @user.reviews.any? %>
    <h3>Reviews (<%= @user.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
  <% end %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>|
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
