<p id="notice"><%= notice %></p>
<% provide(:title, "Profile") %>
<h1>Display My Profile</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<!-- <div class="col-md-8"> -->
<div class="review_in_user">

  <% if @user.reviews.any? %>
    <h3>Total <%= @user.reviews.count %> Reviews</h3>

    <table>
      <thead>
        <tr>
          <th>Review No</th>
          <th>User Name </th>
          <th>Comment </th>
          <th>Product Name </th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.id %> </td>
            <td><%= link_to review.user.name, review.user %></td>
            <td><%= review.userreview %> </td>
            <td><%= review.product.productname %> </td>
            <td><%= link_to 'Details', review_path %></td>
            <td><%= link_to 'Edit', edit_review_path(review) %></td>
            <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
      </tbody>

    </table>


  <% end %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>|
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
