<h1>Product page of <%=@product.productname%></h1>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Review</th>
      <th>Price $</th>
      <th>Reviewed by</th>

    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.userreview %> </td>
        <td><%= review.product.price %></td>
        <td><%= review.user.name %> </td>
        <% if current_user.admin?%>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<!-- <p>shared/user_info</p> -->
  <h1><%= current_user.name %></h1>
<span><%= current_user.name %> currently has total of </span>
<span><%= pluralize(current_user.reviews.count, "review")%>

<!-- shared/micropost form -->
<%= form_for([@product, @product.reviews.build]) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :userreview, placeholder: "Compose new review"%>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
