<p id="notice"><%= notice %></p>

<h1>Product page of <%=@product.productname%></h1>


<p>All Reviews for <%=@product.productname%> : </p>

<p>
  <%=@product.productname%>

</p>
<p>
  <%=current_user.name%>

</p>



<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Reviewed by</th>
    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.userreview %> </td>
        <td><%= review.user.name %> </td>
        <td><%= link_to 'Details', review_path %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>


<!-- <p>shared/user_info</p> -->
  <h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.reviews.count, "review")%>

<!-- shared/micropost form -->
<%= form_for(@review) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :userreview, placeholder: "Compose new review"%>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
