<h1><%=@review.user.name%>'s Review</h1>



  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Product Name </th>
          <th>Comment </th>
          <th>Date Created </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong><%=@review.product.productname%></strong> </td>
          <td><strong><%=@review.userreview%></strong> </td>
          <td><strong><%=@review.created_at%></strong> </td>

        </tr>
      </tbody>
    </table>
    </div>

<%= link_to 'Back to Profile', current_user %>
